.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: blue;
}

#play {
    border-radius: 1px;
}

img {
    width: 100px;
}

.gamebox {
   display: flex;
   flex-direction: row; 
}

.points {
    display: flex;
    flex-direction: row;
}